<div >
  <a target="_blank" href="https://drive.google.com/open?id=15k1OTvVpnHceWhI-deugUeyDky0lFYOd">
    <div style="width: 100%; box-shadow: 0 0 6px #ccc; padding: 3px; text-align: center; margin-bottom: 12px; background-color: rgb(195, 195, 195)">
      Download as PDF
    </div>
  </a>
</div>

<div id="main" class="body" style="display: none">

  <h1 id="title">Nikhil Manapure</h1>
  <div class="basic-info section">
    <h2 class="title">Contact</h2>
    <div class="set">

      <p class="address">
        <span class="value">
          Navjeevan,<br />Antop Hill, Mumbai </span>
      </p>
      <div class="r">
        <p class="email"><span class="value">nikhilmanapure@outlook.com</span></p>

        <p class="website"><span class="value">nikhilmanapure.com</span></p>

        <p class="phone"><span class="value">9890425946</span></p>
      </div>
      <div class="clear"> </div>
    </div><!-- set //-->
    <div class="clear"> </div>
  </div><!-- basic-info //-->



  <div class="section section-references">
    <h2 class="title">Objective</h2>
    <div class="set">
      <div class="item">
        <span class="info">
          <div>Things I love include designing great UI and building user friendly apps. I consider development as more
            of an art where we make a masterpiece for our stakeholders. Willing to grow with an awesome team.</div>
        </span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-work">
    <h2 class="title">Work experience</h2>
    <div class="set">
      <div class="item">
        <h3><span class="company l">WealthTrust</span>
          <span class="date r">Nov 2017 &mdash; Present</span>
        </h3>
        <div class="clear"> </div>
        <span class="job_title">Sr. iOS Developer</span>
        <div class="info">Whole ownership of WealthTrust iOS app<div>
            <ul>
              <li>App is built in Swift 3 and a few integrations in Objective-C with MVVM architecture</li>
              <li>Added Notification Service extension and Notification Content extension</li>
              <li>Implemented deeplinking</li>
              <li>Divided all flows in multiple storyboards and also reused views and cells</li>
              <li>Reused code by creating extension, utility classes and enums</li>
              <li>Integrated PayU payment gateway</li>
              <li>Integrated FreshChat with UI customisation</li>
              <li>Added analytics frameworks like CleverTap and Crashlytics</li>
              <li>Also created internal dashboard portal in Angular and its APIs using Node.js, DynamoDB and Redis</li>
            </ul>
            <div><br /></div>
          </div>
        </div>
        <div class="clear"> </div>
      </div>

      <div class="item">
        <h3><span class="company l">orbo.ai</span>
          <span class="date r">Jan 2017 &mdash; Nov 2017</span>
        </h3>
        <div class="clear"> </div>
        <span class="job_title">iOS Developer</span>
        <div class="info">
          <div>
            <div>Took ownership of multiple products and frameworks and built them together</div>
            <ul>
              <li>Designed and developed a camera app</li>
              <li>Added edit features like adding text and emoji, crop and rotate</li>
              <li>Added filters using GPUImage library to Camera app</li>
              <li>Added in-house image processing algorithms by using <span>OpenCV with C++ integration</span></li>
              <li>Made app 3D touch enabled</li>
              <li>Built an standalone iMessage app and Sticker pack</li>
              <li>Built wrapper frameworks for C and C++ algorithms developed in-house</li>
            </ul>
            <div><br /></div>
          </div>
        </div>
        <div class="clear"> </div>
      </div>

      <div class="item">
        <h3><span class="company l">GGKTech</span>
          <span class="date r">June 2015 &mdash; Jan 2017</span>
        </h3>
        <div class="clear"> </div>
        <span class="job_title">iOS Developer</span>
        <div class="info">Developed and maintained multiple iOS apps<div>
            <ul>
              <li>Samvaad Delhi which aimed at creating an online portal. </li>
              <li>CaseFolio, a document viewer and manager app aimed for lawyers</li>
              <li>Doctor - Patient app which used HealthKit</li>
              <li>Also got a chance to maintain an Apple Design award winning app DayOne</li>
              <li>Won Star Award while my very first project</li>
            </ul>
            <div><br /></div>
          </div>
        </div>
        <div class="clear"> </div>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-education">
    <h2 class="title">Education</h2>
    <div class="set">
      <div class="item">
        <h3><span class="course l">Bachelor of Technology in IT with 7.8 GPA</span>
          <span class="date r">June 2011 &mdash; May 2015</span>
        </h3>
        <div class="clear"> </div>
        <span class="school">SGGSIE&amp;T</span><span class="clear"> </span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-1462512423501">
    <h2 class="title">Technical skills</h2>
    <div class="set">
      <div class="item">
        <span class="info">Swift, Objective-C<div>Intermediate level knowledge of Angular, Node.js, DynamoDB, Redis</div></span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-qualifications">
    <h2 class="title">Qualifications</h2>
    <div class="set">
      <div class="item">
        <span class="info">
          <div><span><span>HCI - IDC, IIT Mumbai</span></span></div>
          <div><span>Front End Developer - Free Code Camp</span></div>
          <div><span><span>User Experience: Research &amp; Prototyping - Coursera</span></span></div>
          <div><span>Mobile App Design in Sketch 3: Ux and UI Design From Scratch - Udemy</span></div>
        </span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-1545822932446">
    <h2 class="title">Technical Interests</h2>
    <div class="set">
      <div class="item">
        <span class="info">
          <ul>
            <li>Answering questions on StackOverflow ( <a>stackoverflow.com/users/6536841/?tab=profile</a>)</li>
            <li>Building my personal website ( <a>nikhilmanapure.com</a>)</li>
          </ul>
        </span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>
  <div class="section section-interests">
    <h2 class="title">Interests</h2>
    <div class="set">
      <div class="item">
        <span class="info">Reading, travelling</span>
      </div>
    </div>
    <div class="clear"> </div>
  </div>

</div>