<span style="width: 100%;" id="intro">Hii, nice to meet you. <br>  My name is Nikhil Manapure. I am an iOS developer. <br> More about me <a target="_blank" href="https://stackoverflow.com/users/6536841/nikhil-manapure?tab=profile">here on StackOverflow </a>
</span>

<div>
    <a target="_blank" href="https://stackoverflow.com/users/6536841/nikhil-manapure">
        <img src="https://stackoverflow.com/users/flair/6536841.png" width="208" height="58" alt="profile for Nikhil Manapure at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Nikhil Manapure at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
</div>